{% extends "base.html" %}

{% block content %}
    <h1>Enter urls from two websites to compare the ingredients</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        First Recipe:<br>
        {{ form.firstRecipe.label }}<br>
        {{ form.firstRecipe(size=32) }}<br>
        {% for error in form.firstRecipe.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        Second Recipe:<br>
        {{ form.secondRecipe.label }}<br>
        {{ form.secondRecipe(size=32) }}<br>
        {% for error in form.secondRecipe.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>


    {% if results %}
        <h3>{{ recipe1.title() }} vs {{ recipe2.title() }}</h3>
    <table border="1">
        <thead>
        <tr>
            <th>
                {{ recipe1.title() }} Ingredient
            </th>
            <th>
                {{ recipe2.title() }} Ingredient
            </th>
            <th>
                Difference
            </th>
        </tr>
        </thead>
        <tbody>
            {% for pair in results %}
                <tr>
                    <td>
                        {{ pair.ingredient1 }}
                    </td>
                    <td>
                        {{ pair.ingredient2 }}
                    </td>
                    <td>
                        {% if pair.defaultMeasure == "metric" %}
                            {{ pair.diffMetric[0] }} {{ pair.diffMetric[1] }}
                        {% else %}
                            {{ pair.diffKitchen[0] }} {{ pair.diffKitchen[1] }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
